@charset "utf-8";
/* CSS Document */

/* @media screen and (max-device-width: 480px) {	*/
@media screen {
body {
-webkit-text-size-adjust: none; /* iPhone */
}
}

/*============================================
;		Common Difinition
;-------------------------------------------*/
/* -- ！！一括で全ての要素の余白をゼロに指定！！　-- */
* {
	padding: 0;
	margin: 0;
}

/* -- ！！テキスト！！　-- */
.text{
	width:auto;
	height:auto;
	padding:10px;
}

.smallText {
	font-size:75%;
}

h3 {
	font-family:Arial;
	font-size:119%;
}

h4 {
	font-family:Arial;
	font-size:175%;
	color:#000;
	line-height:120%;
}

h5 {
	font-family:Arial;
	font-size:119%;
	color:#fff;
}

h6 {
	font-family:Arial;
	font-size:119%;
}

h7 {
	font-family:Arial;
	font-size:100%;
	font-weight:bold;
}

h8 {
	font-family:Arial;
	font-size:119%;
	font-weight:bold;
}

/* -- ！！テキストリンク指定！！　-- */
a:link{
color:#9C1313;
text-decoration:none;
}
a:visited{
color:#9C1313;
text-decoration:none;
}
a:hover{
color:#9C1313;
text-decoration:underline;
}
a:active{
color:#9C1313;
text-decoration:underline;
}

/* -- ！！画像の枠を消す！！　-- */
img {
	border-style: none;
}

a img {
	border-style: none;
}


.no_border{
	border-style: none;
}


/* -- ！！全体の背景！！　-- */
html {
	background-color:#fff;
	height:100%;
}

body {
	font: normal 1.4 'Puritan', sans-serif, "Hiragino Kaku Gothic Pro", "メイリオ","ヒラギノ角ゴ Pro W3", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
	font-family:Helvetica,Arial,'Puritan', sans-serif, "Hiragino Kaku Gothic Pro", "メイリオ","ヒラギノ角ゴ Pro W3", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
	padding: 0;
	margin: 0 auto;
	color:#000;
	font-size:100%;
	line-height:138%;
	height:100%;
}

#header {
	background-image:url(../img/header/headerBar.png);
	background-repeat: repeat-x;
	width:100%;
	height:55px;
	font-size:75%;
}


#footer {
	width:100%;
	height:220px;
	font-size:75%;
}

#container {
	width:100%;
	min-height:400px;
}

#container a:hover img{
filter: alpha(opacity=80);
-moz-opacity:0.8;
opacity:0.8;
}

.gotoTopButton {
	text-align:right;
	clear:both;
	padding:16px 0px 0px 0px;
	width:100%;
}

/*-- h1の背景・画像処理 --*/
.h1Box {
	height:56px;
	width:100%;
	margin-top:35px;
	margin-bottom:20px;
}

.h1BoxLong {
	height:82px;
	width:100%;
	margin-top:35px;
	margin-bottom:20px;
}

.h1Color {
	float:left;
	width:14px;
}

#h1Yellow {
	background-color:#e2e701;
	height:56px;
}

#h1Blue {
	background-color:#0c4c90;
	height:56px;
}

#h1BlueLong {
	background-color:#0c4c90;
	height:82px;
}

#h1Cyan {
	background-color:#0088a0;
	height:56px;
}

#h1CyanLong {
	background-color:#0088a0;
	height:82px;
}

#h1Green {
	background-color:#3c8d1f;
	height:56px;
}

#h1GreenLong {
	background-color:#3c8d1f;
	height:82px;
}

h1 {
	text-indent:-9999px;
}

/*-- h2の背景・画像処理 --*/
.h2Box {
	clear:both;
	margin-top:40px;
	margin-bottom:25px;
	width:100%;
	height:27px;		/* 注　画像サイズ変更の場合は要変更	*/
}

.h2Yellow {
	background-image:url(../img/cHeadlineColor/h2Yellow.png);
	float:left;
	background-repeat:no-repeat;
	width:14px;
	height:27px;		/* 注　画像サイズ変更の場合は要変更	*/
}

.h2Blue {
	background-image:url(../img/cHeadlineColor/h2Blue.png);
	float:left;
	background-repeat:no-repeat;
	width:14px;
	height:27px;		/* 注　画像サイズ変更の場合は要変更	*/
}

.h2Cyan {
	background-image:url(../img/cHeadlineColor/h2Cyan.png);
	float:left;
	background-repeat:no-repeat;
	width:14px;
	height:27px;		/* 注　画像サイズ変更の場合は要変更	*/
}

.h2Green {
	background-image:url(../img/cHeadlineColor/h2Green.png);
	float:left;
	background-repeat:no-repeat;
	width:14px;
	height:27px;		/* 注　画像サイズ変更の場合は要変更	*/
}

h2 {
	text-indent:-9999px;
}