#footerContents {
	margin-left:auto;
	margin-right:auto;
	width:980px;
	font-size:12px;
	/*color:#000;*/
	clear:both;
}

#footer a {
	color:#fff;
}


#footerLeft {
	background-color:#333;
	width:477px;
	height:110px;
	float:left;
	margin-top:30px;
	margin-right:11px;
}

#footerRight {
	float:left;
	/*color:#000;*/
	width:260px;
	height:110px;
	margin-top:30px;
	margin-right:11px;
}

#footerBanner {
	float:right;
	width:221px;
	height:110px;
	margin-top:30px;
}


#copyright  {
	text-align:center;
	clear:both;
	margin-bottom:50px;
}

#copyright p {
	color:#000;
	position:relative;
	top:20px;
}

#footerLeft ul {
	list-style:none;
	width: 135px;
    	padding: 17px 0px 0px 20px;
    	float:left;
}

#footerLeft ul li {
	border-left:2px solid #777;
	padding: 2px 10px;
}

#footerRightList {
	list-style:none;
	font-size:120%;
}
#footerRightList li {
}
#footerRightList li a{
	padding: 7px 0px 7px 50px;
	background: url(../img/footer/footerRightListImage.png) no-repeat 20px 11px;
	background-color:#333;
	margin-bottom:1px;
	display:block;
	font-size:90%;
}
#footerRightList li a:hover{
	text-decoration:none;
	background-color:#222;
}
