#calculationH2Title {
	background-image:url(../img/versionPageMixed/calculationH2Title.png);
	background-repeat:no-repeat;
	width:620px;
	height:27px;
	float:left;
}

#emphasisSquare {
	background-color:#1a1a1a;
	color:#fff;
	font-size:20px;
	padding:10px;
	width:74%;
	margin-left:38px;
	text-align:center;
}

#versionTable {
	margin:5px 0px 30px 160px;
}

#bitMapTitle {
	font-weight:bold;
	margin-top:10px;
	margin-bottom:5px;
}

.bitMap {
	width:100%;
}

.bitMap div {
	display:table-cell;
	text-align:center;
	width:120px;
	background-color:#e7e7e7;
	border:1px solid #fff;
	line-height:22px;
	padding:3px;
}

#exampleH2Title {
	background-image:url(../img/versionPageMixed/exampleH2Title.png);
	background-repeat:no-repeat;
	width:637px;
	height:50px;
	float:left;
}

#mixedModeImage {
	background-image:url(../img/versionPageMixed/mixedModeImage.png);
	background-repeat:no-repeat;
	width:304px;
	height:193px;
	border:1px solid #1a1a1a;
	margin-bottom:20px;
}

#alphanumericModeImage {
	background-image:url(../img/versionPageMixed/alphanumericModeImage.png);
	background-repeat:no-repeat;
	width:304px;
	height:193px;
	border:1px solid #1a1a1a;
	float:right;
	margin-right:90px;
}

.last{
	margin-bottom:50px;
	} /* ‰pŒê‚Ì‚Ý‚±‚ÌƒNƒ‰ƒX‚ð’Ç‰Á */