#titleMap div {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	background-color:#aeaeae;
	height:37px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	border-top:15px solid #fff;
	padding:3px;
	font-size:85%;
	font-weight:bold;
	color:#000;
}

.dataMapOdd div {
	display:table-cell;
	text-align:center;
	background-color:#7D0F0F;
	line-height:22px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	color:#fff;
	padding:3px;
	font-size:85%;
}

.dataMapEven div {
	display:table-cell;
	text-align:center;
	background-color:#680101;
	line-height:22px;
	border-bottom:1px solid #fff;
	border-right:1px solid #fff;
	color:#fff;
	padding:3px;
	font-size:85%;
}

.cell1 {
	width:80px;
	vertical-align:middle;
}

.cell2 {
	width:56px;
}

.cell3 {
	width:86px;
}